* {
  box-sizing: border-box;
}

.container {
  height: 70%;
  width: 50%;
}

/*Float layout*/

#firstText {
  float: left;
  width: 100%;
  height: 15%;
  background: #2f6db0;
}

#firstImg {
  float: left;
  width: 100%;
  height: 15%;
  background: #d261ca;
}

#secondImg {
  float: left;
  width: 75%;
  height: 70%;
  background: #51c774;
}

#secondText {
  float: right;
  width: 25%;
  height: 70%;
  background: #165921;
}

/*Flex layout*/

.flex {
  display: flex;
  flex-wrap: wrap;
}

#firstTextFlex {
  flex: 100%;
  height: 15%;
  background: #2f6db0;
}

#firstImgFlex {
  flex: 100%;
  height: 15%;
  background: #d261ca;
}

#secondImgFlex {
  width: 75%;
  height: 70%;
  background: #51c774;
}

#secondTextFlex {
  width: 25%;
  height: 70%;
  background: #165921;
}
